@keyframes libefore {
  to {
    transform: rotate(-45deg) translateX(.35em) translateY(.05em);
    width: 1.65em;
    background: var(--contrast);
  }
}
@keyframes liafter {
  to {
    transform: rotate(45deg) translateX(-.05em) translateY(.05em);
    background: var(--contrast);
  }
}
@keyframes clearimg {
  0% {
    filter: blur(13px);
  }
  100% {
    filter: blur(0px);
  }
}
section {
  min-height: 89vh;
  width: 100%;
  padding-left: var(--heropad);
  padding-right: var(--heropad);
  display: flex;
  flex-wrap: wrap;
  --imgwidth: 22vw;
  --heropad: 10vw;
}
article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 67%;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}
ul li {
  padding-left: 2em;
  position: relative;
  margin-top: 2em;
  background-repeat: no-repeat;
}
ul li:first-child {
  margin-top: 0;
}
ul li:before, ul li:after {
  font-size: .8em;
  content:"";
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: .1em;
  height: .4em;
  background: var(--regular);
}
ul li:before {
  transform: rotate(0deg) translateX(.5em) translateY(-.3em);
  width: 1em;
  animation: .4s libefore ease-out forwards;
}
ul li:after {
  transform: rotate(0deg) translateX(.8em) translateY(-.3em);
  width: 1em;
  animation: .4s liafter ease-out forwards;
}
ul li:nth-child(1):after, ul li:nth-child(1):before {
  animation-delay: 1s;
}
ul li:nth-child(2):after, ul li:nth-child(2):before {
  animation-delay: 1.3s;
}
ul li:nth-child(3):after, ul li:nth-child(3):before {
  animation-delay: 1.6s;
}
ul li:nth-child(4):after, ul li:nth-child(4):before {
  animation-delay: 1.9s;
}
figure {
  position: relative;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  height: calc(0.85 * var(--imgwidth));
}
figcaption {
  font-size: 0.9em;
  color: var(--contrast);
  width: 80%;
  text-align: center;
}
figure .container {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  transition: .5s all;
  overflow: hidden;  
  width: calc(0.765 * var(--imgwidth));
  height: calc(0.68 * var(--imgwidth));
}
figure .container:hover {
  border-radius: 40% 80% 80% 40%/40% 40% 80% 80%;
}
img {
  width: 100%;
  transition: .5s all;
  animation: 1.3s ease-out 0ms 1 normal forwards clearimg;
}
img:hover {
  width: 106%;
  margin-top: -3%;
  margin-left: -3%;
}
nav {
  display: grid;
  flex-basis: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  padding-left: 1em;
  padding-right: 1em;
  grid-auto-rows: min-content;
}
nav .cta {
  grid-row: 1;
  grid-column: 1;
}
nav .kr {
  grid-row: 1;
  grid-column: 2;
}
.arrow-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  top: 0.1em;
  margin-left: .5em;
  overflow: hidden;
  position: relative;
}
.arrow-circle svg {
  width: .8em;
  height: .6em;
  display: inline-block;
  position: absolute;
  top: .3em;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(90deg) translate3d(0,0,0);
}
.kr:hover svg:first-child {
  opacity: 0;
  transform: rotate(90deg) translate3d(100%,0,0);
  transition: all .3s cubic-bezier(.55,.055,.675,.19);
}
.kr:hover svg:nth-child(2) {
  opacity: 1;
  transition: all .7s cubic-bezier(.23,1,.32,1) .2s;
  transform: rotate(90deg) translate3d(0,0,0);
}
.arrow-circle svg:first-child {
  transition: all .7s cubic-bezier(.23,1,.32,1) .2s;
}
.arrow-circle svg:nth-child(2) {
  transition: all .3s cubic-bezier(.55,.055,.675,.19);
  transform: rotate(90deg) translate3d(-100%,0,0);
  opacity: 0;
}
@media screen and (max-aspect-ratio: 10/9) {
  section {
    flex-direction: column;
    flex-wrap: nowrap;
    --heropad: 2vw;
    --imgwidth: 50vw;
    align-items: center;
    justify-content: space-between;
  }
  figure, nav {
    flex-basis: auto;
  }
  figure {
    order: 1;
  }
  article {
    order: 2;
    flex-basis: 100%;
  }
  nav {
    order: 3;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    padding-bottom: 1em;
  }
  nav .cta, nav .kr {
    justify-self: auto;
    width: auto;
  }
  nav .cta {
    grid-row: 1;
    grid-column: 2/5;
  }
  nav .kr {
    grid-row: 2;
    grid-column: 2/5;
  }
}
@media screen and (max-width: 600px) and (max-aspect-ratio: 10/9) {
  section {
    min-height: 115vh;
  }
  nav {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    margin-top: 0.3em;
  }
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
