@keyframes reveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }
}
header * {
  color: var(--contrast1);
  font-family: 'Poiret One', serif;
}
header {
  z-index: 200;
  width: var(--headersize);
  height: var(--headersize);
  position: fixed;
  overflow: hidden;
  left: calc((100vw - var(--headersize)) / 2);
  top: calc((100vh - var(--headersize)) / 2);
  font-size: var(--headerfontsize);
  font-weight: bold;
  transition: all 1.3s;
  --headersize: 100vh;
  --headerfontsize: 10vh;
}
@media screen and (orientation: portrait) {
  header {
    --headersize: 100vw;
    --headerfontsize: 10vw;
  }
}
header * {
  position: absolute;
  letter-spacing: -0.026em;
  transition: all .6s;
}
p:first-child {
  left: 2.3%;
  top: 10.3%;
  font-size: 108.3%;
  letter-spacing: -0.02em;
  transform: translate3d(-120%,0,0);
  animation: .5s reveal ease-in-out forwards;
}
p:nth-child(2) {
  left: 18.3%;
  top: 10.3%;
  font-size: 108.3%;
  letter-spacing: -0.02em;
  transform: translate3d(0,-190%,0);
  animation: .5s reveal .5s ease-in-out forwards;
}
h1 {
  left: 32.1%;
  top: 6%;
  font-size: 197%;
  transform: translate3d(120%,0,0);
  transition: all 1.3s;
/*
  transform: translate3d(0,0,0) scale(53);
*/
  animation: 1.1s reveal .75s ease-in-out forwards;
}
h1 span {
  position: absolute;
  transition: all 1.3s;
  left: -48%;
  top: 59%;
  opacity: 0;
  transform: translate3d(-240%,0,0);
  animation: 1.1s reveal .75s ease-in-out forwards;
}
p:nth-child(4) {
/*
  left: 41%;
  top: 34.5%;
*/
  left: 38.5%;
  top: 33.7%;
  font-size: 155%;
  letter-spacing: -0.035em;
  color: rgba(0,0,0,0);
  overflow: hidden;
}
p:nth-child(4):after {
  content: "freelance";
  position: absolute;
  top: 0%;
  left: 0;
  color: var(--contrast1);
  transform: translate3d(0%,120%,0);
  animation: .5s reveal 1.75s ease-in-out forwards;
}
h2 {
  left: 0%;
  top: 46.3%;
  font-size: 184.6%;
  transform: translate3d(-125%,0,0);
  transition: all 1.3s;
  animation: 1.1s reveal 2s ease-in-out forwards;
  letter-spacing: -0.031em;
}
h2 span {
  position: absolute;
  left: 28.8%;
  top: 69.2%;
  letter-spacing: -0.031em;
  opacity: 0;
  transition: all 1.3s;
  transform: translate3d(250%,0,0);
  animation: 1.1s reveal 2.3s ease-in-out forwards;
}
p:nth-child(6) {
  left: 0.2%;
  top: 79.2%;
  font-size: 99.3%;
  letter-spacing: -0.0405em;
  overflow: hidden;
  width: 100%;
  color: rgba(0,0,0,0);
}
p:nth-child(6):after {
  content: "Welcome to my portfolio";
  position: absolute;
  top: 0%;
  left: 0;
  color: var(--contrast1);
  transform: translate3d(0%,120%,0);
  animation: .66s reveal 3.5s ease-in-out forwards;
}
.header {
  width: 100vw;
  left: 0;
  top: 0;
  height: 2em;
  --headerfontsize: 3.8em;
}
.header *, .header *:after {
  color: rgba(0,0,0,0) !important;
}
.header h1, .header h1 span, .header h2, .header h2 span {
  color: var(--contrast1) !important;
}
.header h1 {
  font-size: 1em;
  top: -.05em;
  left: .1em;
}
.header h2 {
  font-size: .7em;
  left: .3em;
}
.header h1 span, .header h2 span {
  left: 108%;
  top: 0;
}
@media screen and (orientation: portrait) {
  .header {
    --headerfontsize: 2.5em;
  }
}
.static h1, .static h1 span, .static h2, .static h2 span {
  transition: none !important;
  animation: none !important;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1);
}
.static {
  transition: none !important;
  animation: none !important;
  opacity: 1;
}
.static p, .static p:after {
  transition: none !important;
  animation: none !important;
}
