@keyframes toh1 {
  0% {
    left: 32.1%;
    top: 6%;
    font-size: 197%;
    transform: translate3d(0,0,0) scale(1);
  }
  100% {
    font-size: 1em;
    top: -.05em;
    left: .1em;
    transform: translate3d(0,0,0) scale(1);
  }
}
@keyframes toh2 {
  0% {
    left: 0%;
    top: 46.3%;
    font-size: 184.6%;
    transform: translate3d(0,0,0) scale(1);
  }
  100% {
    font-size: .7em;
    top: 46.3%;
    left: .3em;
    transform: translate3d(0,0,0) scale(1);
  }
}
@keyframes toh1span {
  0% {
    left: -48%;
    top: 59%;
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }
  100% {
    left: 108%;
    top: 0;
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }
}
@keyframes toh2span {
  0% {
    left: 28.8%;
    top: 69.2%;
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }
  100% {
    left: 108%;
    top: 0;
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }
}
@keyframes toheader {
  0% {
    width: var(--headersize);
    height: var(--headersize);
    left: calc((100vw - var(--headersize)) / 2);
    top: calc((100vh - var(--headersize)) / 2);
    font-size: var(--titlefontsize);
  }
/*
  70% {
    height: 2em;
    left: 0;
  }
*/
  100% {
    width: 100vw;
    left: 0;
    top: 0;
    font-size: var(--headerfontsize);
    height: 2em;
  }
}
@keyframes reveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }
}
header {
  z-index: 200;
  position: fixed;
  overflow: hidden;
  --headersize: 100vh;
  --titlefontsize: 10vh;
  --headerfontsize: 3.8em;
  font-size: var(--titlefontsize);
}
@media screen and (orientation: portrait) {
  header {
    --headersize: 100vw;
    --titlefontsize: 10vw;
    --headerfontsize: 2.5em;
  }
}
.title {
  width: var(--headersize);
  height: var(--headersize);
  left: calc((100vw - var(--headersize)) / 2);
  top: calc((100vh - var(--headersize)) / 2);
}
header * {
  color: var(--contrast1);
  font-family: 'Poiret One', serif;
  position: absolute;
  letter-spacing: -0.026em;
  font-weight: bold;
}
.title p:first-child {
  left: 2.3%;
  top: 10.3%;
  font-size: 108.3%;
  letter-spacing: -0.02em;
  transform: translate3d(-130%,0,0);
  animation: .5s reveal ease-in-out forwards;
}
.title p:nth-child(2) {
  left: 18.3%;
  top: 10.3%;
  font-size: 108.3%;
  letter-spacing: -0.02em;
  transform: translate3d(0,-190%,0);
  animation: .5s reveal .5s ease-in-out forwards;
}
.title h1 {
  left: 32.1%;
  top: 6%;
  font-size: 197%;
  transform: translate3d(120%,0,0);
  animation: 1.1s reveal .75s ease-in-out forwards;
}
.title h1 span {
  position: absolute;
  left: -48%;
  top: 59%;
  opacity: 0;
  transform: translate3d(-240%,0,0);
  animation: 1.1s reveal .75s ease-in-out forwards;
}
.title p:nth-child(4) {
/*
  left: 41%;
  top: 34.5%;
*/
  left: 38.5%;
  top: 33.7%;
  font-size: 155%;
  letter-spacing: -0.035em;
  color: rgba(0,0,0,0);
  overflow: hidden;
}
.title p:nth-child(4):after {
  content: "freelance";
  position: absolute;
  top: 0%;
  left: 0;
  color: var(--contrast1);
  transform: translate3d(0%,120%,0);
  animation: .5s reveal 1.75s ease-in-out forwards;
}
.title h2 {
  left: 0%;
  top: 46.3%;
  font-size: 184.6%;
  transform: translate3d(-125%,0,0);
  animation: 1.1s reveal 2s ease-in-out forwards;
  letter-spacing: -0.031em;
}
.title h2 span {
  position: absolute;
  left: 28.8%;
  top: 69.2%;
  letter-spacing: -0.031em;
  opacity: 0;
  transform: translate3d(250%,0,0);
  animation: 1.1s reveal 2.3s ease-in-out forwards;
}
.title p:nth-child(6) {
  left: 0.2%;
  top: 79.2%;
  font-size: 99.3%;
  letter-spacing: -0.0405em;
  overflow: hidden;
  width: 100%;
  color: rgba(0,0,0,0);
}
.title p:nth-child(6):after {
  content: "Welcome to my portfolio";
  position: absolute;
  top: 0%;
  left: 0;
  color: var(--contrast1);
  transform: translate3d(0%,120%,0);
  animation: .66s reveal 3.5s ease-in-out forwards;
}
.header {
  width: 100vw;
  left: 0;
  top: 0;
  font-size: var(--headerfontsize);
  height: 2em;
  animation: .8s toheader ease-in-out forwards;
}
.header nav {
  transition: .6s all;
}
.header *, .header *:after {
  color: rgba(0,0,0,0) !important;
}
.header h1, .header h1 span, .header h2, .header h2 span {
  color: var(--contrast1) !important;
}
.header h1 {
  font-size: 1em;
  top: -.05em;
  left: .1em;
  animation: .8s toh1 ease-in-out forwards;
}
.header h2 {
  font-size: .7em;
  top: 46.3%;
  left: .3em;
  animation: .8s toh2 ease-in-out forwards;
}
.header h1 span {
  left: 108%;
  top: 0;
  animation: .8s toh1span ease-in-out forwards;
}
.header h2 span {
  left: 108%;
  top: 0;
  animation: .8s toh2span ease-in-out forwards;
}
.static h1, .static h1 span, .static h2, .static h2 span {
  animation: none !important;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1);
}
.static {
  animation: none !important;
  opacity: 1;
}
.static p, .static p:after {
  animation: none !important;
}
